# Omit any output
citycat-image/citycat-output-test/*
# Omit because it is too large
citycat-image/citycat-input-test/studyarea_1/Domain_DEM.asc
# Omit the CityCat.exe
citycat-image/citycat-input-test/CityCat.exe
CityCat.exe
