# Omit any output
citycat-image/climateiq-flood-simulation-output/*
# Omit because it is too large
citycat-image/climateiq-flood-simulation-input/studyarea_1/Domain_DEM.asc
# Omit the CityCat.exe
citycat-image/climateiq-flood-simulation-input/CityCat.exe
CityCat.exe

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Plan
tfplan_dev
tfplan_prod